@use './common/namespace.scss' as *;

@include b(breadcrumb-item) {
  display: inline-block;
  color: var(#{getVarName('color', 'text')});

  a {
    text-decoration: none;
  }

  @include e(inner) {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: var(#{getVarName('color', 'text')});

    &:hover {
      color: var(#{getVarName('color', 'primary')});
    }
  }
}
