@use './common/namespace.scss' as *;
@use './componentVar/menuItemVar.scss' as *;

@include b(submenu) {
  @include setComVar(subMenuVar());

  z-index: 1000;
  position: absolute;
  background-color: var(#{getComVarName('sub-bg-color')});

  &,
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

}


@include b(menu-item) {
  @include setComVar(menuItemVar());
  position: relative;

  @include m(mode, vertical) {

    @include s(collapse) {

      @include e(submenu, false) {
        z-index: 1000;
        position: absolute;
        top: 0;
        left: 100%;

        @include e(submenu, false) {
          top: 100%;
        }
      }
    }
  }

  @include m(mode, horizontal) {

    @include e(header, false) {
      @include s((active)) {
        border-right: none;
        border-bottom: 2px solid var(#{getComVarName('active-bar-color')});
      }
    }

    @include e(submenu, false) {
      z-index: 10;
      position: absolute;
      top: 100%;
      left: 0;

      @include e(submenu, false) {
        left: 100%;
      }
    }
  }

  @include e(header) {
    display: flex;
    padding: 10px 0;
    transition: background-color 0.3s;
    cursor: pointer;
    color: var(#{getComVarName('color')});
    background-color: var(#{getComVarName('bg-color')});

    &:hover {
      #{getComVarName('color')}:var(#{getComVarName('hover-color')});
      #{getComVarName('bg-color')}:var(#{getComVarName('hover-bg-color')});
    }

    @include s((active)) {
      #{getComVarName('color')}:var(#{getComVarName('active-color')});
      #{getComVarName('bg-color')}:var(#{getComVarName('active-bg-color')});
      border-right: 2px solid var(#{getComVarName('active-bar-color')});
    }

    @include m(header-position, top) {
      align-items: start;
    }

    @include m(header-position, center) {
      align-items: center;
    }

    @include m(header-position, end) {
      align-items: end;
    }
  }

  @include e(icon) {
    margin-left: 15px;
    min-width: 24px;
    text-align: center;

    @include s((collapse)) {
      margin: 0;
      flex: 1;
    }
  }

  @include e(title) {
    flex: 1;
    padding: 0 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @include e(arrow) {
    margin-left: auto;
    margin-right: 15px;
    font-size: 12px;
    transform: rotate(-90deg);
    transition: transform 0.3s;

    @include s((active)) {
      transform: rotate(0deg)
    }
  }

  @include e(submenu) {
    background-color:var(#{getComVarName('sub-bg-color')});
  }
}
