@use './common/namespace.scss' as *;
@use './componentVar/menuVar.scss' as *;

@include b(menu) {
  @include setComVar(menuVar());
  @include setComVar(currentMenuVar());


  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @include m(mode, vertical) {
    width: var(#{getComVarName('current','width')});
  }

  @include s((collapse)) {
    #{getComVarName('current','width')}:var(#{getComVarName('collapse-width')});
  }

  @include m(mode, horizontal) {
    width: 100%;

    @include e(menu-list, false) {
      display: flex;
      flex-direction: row;
    }
  }
}
