@use './common/namespace.scss' as *;
@use './componentVar/paginationVar.scss' as *;
@use './common/var.scss' as *;

@include b(pagination) {
  @include setComVar(paginationVar());

  width: 100%;
  display: flex;
  align-items: center;
  gap: var(#{getComVarName('gap')});
  font-size: var(#{getComVarName('font-size')});
  color: var(#{getComVarName('color')});

  @include e(total) {
    min-width: 60px;
  }

  @include e-and((btn-prev, btn-next)) {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    background-color: var(#{getComVarName('btn-bg-color')});
    border: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('btn-bd-color')});
    border-radius: var(#{getComVarName('bd-round')});
    color: var(#{getComVarName('btn-text-color')});
    min-width: var(#{getComVarName('size')});
    height: var(#{getComVarName('size')});

    &:hover {
      #{getComVarName('btn-text-color')}:var(#{getComVarName('btn-hover-text-color')});
      #{getComVarName('btn-bg-color')}:var(#{getComVarName('btn-hover-bg-color')});
      #{getComVarName('btn-bd-color')}:var(#{getComVarName('btn-hover-bg-color')});
    }
  }

  @include e(pager-wrapper) {
    flex: 1;
    min-width: 120px;
    overflow: hidden;
  }

  @include e(pager) {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 4px;
  }

  @include e(pager-item) {
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    min-width: var(#{getComVarName('size')});
    height: var(#{getComVarName('size')});
    line-height: var(#{getComVarName('size')});
    color: var(#{getComVarName('pager-color')});
    background-color: var(#{getComVarName('pager-bg-color')});
    border-radius: var(#{getComVarName('bd-round')});
    //border: 1px solid #e3e4ef;

    &:hover {
      #{getComVarName('pager-color')}:var(#{getComVarName('btn-hover-text-color')});
    }

    @include s((active)) {
      #{getComVarName('pager-bg-color')}:var(#{getComVarName('btn-hover-text-color')});
      #{getComVarName('pager-color')}:var(#{getVarName('color', 'white')});
    }
  }

  @include e-and((sizes, jumper)) {
    min-width: 60px;

    select,
    input {
      outline: none;
      transition: border-color 0.3s;
      height: var(#{getComVarName('size')});
      line-height: var(#{getComVarName('size')});
      color: var(#{getComVarName('color')});
      border-radius: var(#{getComVarName('bd-round')});
      font-size: var(#{getComVarName('font-size')});
      border: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('btn-bd-color')});
      background-color: var(#{getComVarName('btn-bg-color')});

      &:focus {
        border-color: var(#{getComVarName('btn-hover-text-color')});
      }
    }
  }

  @include e(jumper) {
    min-width: 120px;

    input {
      width: 50px;
      text-align: center;
    }
  }
}


@each $size in $common-size {
  @include m('size', $size) {
    #{getComVarName('size')}:var(#{getVarName('component-size', $size)});
    #{getComVarName('font-size')}:var(#{getVarName('font-size', $size)});
    #{getComVarName('gap')}:var(#{getVarName('pagination-gap', $size)});
  }
}
