@use './common/namespace.scss' as *;
@use './common/componentVar.scss' as *;
@use './componentVar/checkboxVar.scss' as *;
@use './common/var.scss' as *;

@include b(radio) {
  @include set-component-var('checkbox', checkboxVar());
  @include set-component-var('checkbox', checkboxCurrentVar());
  #{getVarName('checkbox', 'round')}:var(#{getVarName('component-round', round)});

  display: inline-flex;
  align-items: center;
  gap: 0 10px;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 24px;
  height:calc(var(#{getVarName('checkbox', 'size')}) * var(#{getVarName('checkbox', 'scale')}));
  font-size:calc(var(#{getVarName('checkbox', 'font-size')}) * var(#{getVarName('checkbox', 'scale')}));

  @include e(inner) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(var(#{getVarName('checkbox', 'checkbox-size')}) * var(#{getVarName('checkbox', 'scale')}));
    height: calc(var(#{getVarName('checkbox', 'checkbox-size')}) *var(#{getVarName('checkbox', 'scale')}));
    border-radius:calc(var(#{getVarName('checkbox', 'round')}) *var(#{getVarName('checkbox', 'scale')}));
    box-sizing: border-box;
    border: var(#{getVarName('checkbox', 'border-size')}) solid var(#{getVarName('checkbox', 'current','bd-color')});
    background-color: var(#{getVarName('checkbox', 'current','bg-color')});
    color: var(#{getVarName('checkbox','current','icon-color')});

    @include e(input) {
      position: relative;
      display: none;
      z-index: 1;
    }

  }

  @include e(label) {
    line-height: 1;
    font-size: inherit;
    color: var(#{getVarName('checkbox', 'current','color')});
  }

  &:hover {
    #{getVarName('checkbox', 'current','bg-color')}:var(#{getVarName('checkbox', 'hover-bg-color')});
    #{getVarName('checkbox', 'current','bd-color')}:var(#{getVarName('checkbox', 'hover-border-color')});
    #{getVarName('checkbox', 'current','color')}:var(#{getVarName('checkbox', 'hover-text-color')});
  }

  @include s((selected)) {
    #{getVarName('checkbox','current','bg-color')}:var(#{getVarName('checkbox', 'selected-bg-color')});
    #{getVarName('checkbox','current','icon-color')}:var(#{getVarName('checkbox', 'selected-color')});
    #{getVarName('checkbox','current','bd-color')}:var(#{getVarName('checkbox', 'selected-border-color')});
    #{getVarName('checkbox','current','color')}:var(#{getVarName('checkbox', 'selected-text-color')});
  }

  @include s((disabled)) {
    #{getVarName('checkbox','current','bg-color')}:var(#{getVarName('checkbox', 'disabled-bg-color')});
    #{getVarName('checkbox','current','bd-color')}:var(#{getVarName('checkbox', 'disabled-border-color')});
    #{getVarName('checkbox','current','color')}:var(#{getVarName('checkbox', 'disabled-text-color')});
    #{getVarName('checkbox','current','icon-color')}:var(#{getVarName('checkbox', 'disabled-icon-color')});
    cursor: var(#{getVarName('cursor','disabled')});
  }

  @include s((loading)) {
    #{getVarName('checkbox','current','bg-color')}:var(#{getVarName('checkbox', 'loading-bg-color')});
    #{getVarName('checkbox','current','bd-color')}:var(#{getVarName('checkbox', 'loading-border-color')});
    #{getVarName('checkbox','current','color')}:var(#{getVarName('checkbox', 'loading-text-color')});
    cursor: var(#{getVarName('cursor', 'disabled')});
  }
}

@each $size in $common-size {
  @include m('size', $size) {
    #{getVarName('checkbox', 'size')}:var(#{getVarName('component-size', $size)});
    #{getVarName('checkbox', 'font-size')}:var(#{getVarName('font-size', $size)});
    #{getVarName('checkbox', 'checkbox-size')}:var(#{getVarName('checkbox-size', $size)});
  }
}

@each $theme in $themes {
  @include m($theme) {
    @include set-component-var('checkbox', checkboxVar($theme), 'type');

    @include s((selected)) {
      @include set-component-var('checkbox', checkboxSelectedVar($theme), 'selected');
    }
  }
}
