@use './common/namespace.scss' as *;
@use './componentVar/rawPopoverVar.scss' as *;

@include b(raw-popover) {
  @include setComVar(rawPopoverVar());

  position: absolute;
  z-index: 2000;
  padding: 12px;
  line-height: 1.5;
  border: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('bd-color')});
  box-shadow: 0 2px 12px 0 var(#{getComVarName('bs-color')});
  border-radius: var(#{getComVarName('round-size')});
  font-size: var(#{getComVarName('font-size')});
  background-color: var(#{getComVarName('bg-color')});
  color: var(#{getComVarName('color')});

  @include e(title) {
    margin: 0;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: var(#{getComVarName('title-font-size')});
    color: var(#{getComVarName('title-color')});
  }

  @include e(content) {
    line-height: 1.5;
  }

  @include e(arrow) {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    border-color: transparent;
  }

  @include m(position, top) {
    @include e(arrow, false) {
      bottom: -12px;
      left: 50%;
      transform: translateX(-50%);
      border-top-color: var(#{getComVarName('bg-color')});
    }
  }

  @include m(position, top-start) {
    @include e(arrow, false) {
      bottom: -12px;
      transform: translateX(-50%);
      border-top-color: var(#{getComVarName('bg-color')});
      left: var(--arrow-x); // tooltip所在的元素中的 对象设置 xx.style.setProperty('--arrow-x', xx)
    }
  }

  @include m(position, top-end) {
    @include e(arrow, false) {
      bottom: -12px;
      transform: translateX(-50%);
      border-top-color: var(#{getComVarName('bg-color')});
      left: var(--arrow-x);
    }
  }

  @include m(position, bottom) {
    @include e(arrow, false) {
      top: -12px;
      left: 50%;
      transform: translateX(-50%);
      border-bottom-color: var(#{getComVarName('bg-color')});
    }
  }

  @include m(position, bottom-start) {
    @include e(arrow, false) {
      top: -12px;
      transform: translateX(-50%);
      border-bottom-color: var(#{getComVarName('bg-color')});
      left: var(--arrow-x);
    }
  }

  @include m(position, bottom-end) {
    @include e(arrow, false) {
      top: -12px;
      transform: translateX(-50%);
      border-bottom-color: var(#{getComVarName('bg-color')});
      left: var(--arrow-x);
    }
  }

  @include m(position, left) {
    @include e(arrow, false) {
      right: -12px;
      top: 50%;
      transform: translateY(-50%);
      border-left-color: var(#{getComVarName('bg-color')});
    }
  }

  @include m(position, left-start) {
    @include e(arrow, false) {
      right: -12px;
      transform: translateY(-50%);
      border-left-color: var(#{getComVarName('bg-color')});
      top: var(--arrow-y);
    }
  }

  @include m(position, left-end) {
    @include e(arrow, false) {
      right: -12px;
      transform: translateY(-50%);
      border-left-color: var(#{getComVarName('bg-color')});
      top: var(--arrow-y);
    }
  }

  @include m(position, right) {
    @include e(arrow, false) {
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
      border-right-color: var(#{getComVarName('bg-color')});
    }
  }

  @include m(position, right-start) {
    @include e(arrow, false) {
      left: -12px;
      transform: translateY(-50%);
      border-right-color: var(#{getComVarName('bg-color')});
      top: var(--arrow-y);
    }
  }

  @include m(position, right-end) {
    @include e(arrow, false) {
      left: -12px;
      transform: translateY(-50%);
      border-right-color: var(#{getComVarName('bg-color')});
      top: var(--arrow-y);
    }
  }

  @include e(footer) {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 12px;
    padding-top: 12px;
    border-top: 1px solid var(#{getComVarName('footer-bd-top-color')});

    button {
      cursor: pointer;
      padding: 4px 10px;
      border: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('btn-bd-color')});
      background: var(#{getComVarName('btn-bg-color')});
      border-radius: var(#{getComVarName('round-size')});
      font-size: var(#{getComVarName('btn-font-size')});
      color: var(#{getComVarName('btn-text-color')});
    }


    button:hover {
      background-color: var(#{getComVarName('btn-hover-bg-color')});
    }

    @include e(confirm-btn, false) {
      background-color: var(#{getComVarName('confirm-btn-bg-color')});
      border-color: var(#{getComVarName('confirm-btn-bg-color')});
      color: var(#{getComVarName('confirm-btn-text-color')});

      &:hover {
        background: var(#{getComVarName('confirm-btn-hover-bg-color')});
        border-color: var(#{getComVarName('confirm-btn-hover-bg-color')});
        color: var(#{getComVarName('confirm-btn-text-color')});
      }
    }
  }
}
