@use './common/namespace.scss' as *;

@include b(scrollbar) {
  position: relative;
  overflow: hidden;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  /* 🔑 关键：告诉浏览器允许水平和垂直滑动手势 */
  /* 如果不加这个，浏览器可能会拦截水平滑动，导致只能垂直滚 */
  touch-action: pan-x pan-y;
  /*关闭浏览器 惯性滚动 */
  -webkit-overflow-scrolling: auto;
  /* 确保不触发浏览器的回弹效果 (Rubber banding) */
  overscroll-behavior: contain;

  &::-webkit-scrollbar {
    display: none;
  }

  @include e(thumb) {
    z-index: 1000;
    position: absolute;
    right: 0;
    width: 10px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }

  }

  @include e(thumbb) {
    z-index: 1000;
    position: absolute;
    bottom: 0;
    height: 10px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);

    &:hover {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

}
