@use './common/namespace.scss' as *;
@use './componentVar/switchVar.scss' as *;
@use './common/componentVar.scss' as *;
@use './common/var.scss' as *;

@include b(switch) {
  @include set-component-var('switch', switchVar());
  @include set-component-var('switch', switchCurrentVar());

  position: relative;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  background-color: var(#{getVarName('switch','current','bg-color')});
  color:var(#{getVarName('switch','current','color')});
  vertical-align: middle;
  height: calc(var(#{getVarName('switch', 'size')}) * var(#{getVarName('switch', 'scale')}));
  width: calc(var(#{getVarName('switch', 'width')}) * var(#{getVarName('switch', 'scale')}));
  font-size: calc(var(#{getVarName('switch', 'font-size')}) * var(#{getVarName('switch', 'scale')}));
  border-radius: calc(var(#{getVarName('switch', 'round')}) * var(#{getVarName('switch', 'scale')}));
  padding: calc(var(#{getVarName('switch', 'padding')}) * var(#{getVarName('switch', 'scale')}));

  @include s((active)) {
    #{getVarName('switch', 'current', 'bg-color')}:var(#{getVarName('switch', 'active-bg-color')});
    #{getVarName('switch', 'current','color')}:var(#{getVarName('switch', 'active-text-color')});
    //#{getVarName('switch', 'bg-color')}:var(#{getVarName('switch', 'active-bg-color')});
    //#{getVarName('switch', 'text-color')}:var(#{getVarName('switch', 'active-text-color')});
  }

  @include s((disabled)) {
    #{getVarName('switch','current','bg-color')}:var(#{getVarName('switch', 'disabled-bg-color')});
    #{getVarName('switch','current','color')}:var(#{getVarName('switch', 'disabled-text-color')});
    //#{getVarName('switch', 'bg-color')}:var(#{getVarName('switch', 'disabled-bg-color')});
    //#{getVarName('switch', 'text-color')}:var(#{getVarName('switch', 'disabled-text-color')});
    //#{getVarName('switch', 'circle-bg-color')}: var(#{getVarName('switch', 'circle-hover-bg-color')});

    #{getVarName('switch', 'current', 'circle-bg-color')}:var(#{getVarName('switch', 'circle-hover-bg-color')});
    cursor: var(#{getVarName('cursor', 'disabled')});
  }

  @include s((loading)) {
    #{getVarName('switch','current','bg-color')}:var(#{getVarName('switch', 'loading-bg-color')});
    #{getVarName('switch','current','color')}:var(#{getVarName('switch', 'loading-text-color')});
    //#{getVarName('switch', 'bg-color')}:var(#{getVarName('switch', 'loading-bg-color')});
    //#{getVarName('switch', 'text-color')}:var(#{getVarName('switch', 'active-text-color')});
  }

  @include e(checkbox) {
    display: none;
  }

  @include e(circle) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: none;
    background-color: var(#{getVarName('switch','current', 'circle-bg-color')});
    color: var(#{getVarName('switch','current','center-icon-color')});
    width: calc((var(#{getVarName('switch', 'size')}) - 8px) * var(#{getVarName('switch', 'scale')}));
    height: calc((var(#{getVarName('switch', 'size')}) - 8px) * var(#{getVarName('switch', 'scale')}));
    border-radius: calc(var(#{getVarName('switch', 'round')}) * var(#{getVarName('switch', 'scale')}));


    &:hover {
      #{getVarName('switch', 'current', 'circle-bg-color')}:var(#{getVarName('switch', 'circle-hover-bg-color')});
    }

    @include s((checked)) {
      right: calc(var(#{getVarName('switch', 'padding')}) * var(#{getVarName('switch', 'scale')}));
    }
  }

  @include e(inner) {
    display: flex;
    width: 100%;
    height: 100%;
    line-height: 1;

    @include e(label) {
      display: flex;
      flex: 1;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }
}

@each $size in $common-size {
  @include m('size', $size) {
    #{getVarName('font-size', 'default')}:var(#{getVarName('font-size', $size)});
    #{getVarName('switch-size','default')}:var(#{getVarName('switch-size', $size)});
    #{getVarName('switch-width','default')}:var(#{getVarName('switch-width', $size)});
  }
}

@each $theme in $themes {
  @include m($theme) {
    @include set-component-var('switch', switchVar($theme), 'type');
  }
}
