@use './common/namespace.scss' as *;
@use './componentVar/tabsVar.scss' as *;

@include b(tabs) {
  @include setComVar(tabsVar());

  display: flex;
  flex-direction: column;

  @include s((only-header)) {
    border-bottom: none;

    @include e(header, false) {
      margin: 0;
    }
  }

  //==============================================type card
  @include m(type, card) {

    @include e(nav, false) {
      gap: 0;
    }

    @include e(nav-item, false) {
      margin-right: 2px;
      padding: 0 20px;
      border: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('bd-color')});
      border-radius: var(#{getComVarName('bd-round')}) var(#{getComVarName('bd-round')}) 0 0;
      background-color: var(#{getComVarName('nav-bg-color')});

      @include s((active)) {
        border-bottom: none;
        #{getComVarName('nav-bg-color')}:var(#{getComVarName('nav-active-bg-color')});
      }
    }

    //==============================================type card bottom
    @include m-conn(position, bottom) {

      @include e(nav-item, false) {
        border-radius: 0 0 var(#{getComVarName('bd-round')}) var(#{getComVarName('bd-round')});

        @include s((active)) {
          border-bottom: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('bd-color')});
          border-top: none;
        }
      }

      @include e(new-btn, false) {
        bottom: 0;
        top: -1px;
        border-radius: 0 0 var(#{getComVarName('bd-round')}) var(#{getComVarName('bd-round')});
      }
    }

    //==============================================type card bottom end

    //==============================================type card left
    @include m-conn(position, left) {

      @include e(header, false) {
        @include s((add)) {
          padding-bottom: 40px;
        }
      }

      @include e(nav-wrapper, false) {
        padding-right: 0;
      }

      @include e(nav-item, false) {
        margin-right: 0;
        margin-bottom: 2px;
        border-radius: var(#{getComVarName('bd-round')}) 0 0 var(#{getComVarName('bd-round')});

        @include s((active)) {
          border-bottom: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('bd-color')});
          border-right: none;
        }
      }

      @include e(new-btn, false) {
        width: 100%;
        bottom: 0;
        right: -1px;
        border-radius: var(#{getComVarName('bd-round')}) 0 0 var(#{getComVarName('bd-round')});
      }

    }

    //==============================================type card left end

    //==============================================type card right
    @include m-conn(position, right) {

      @include e(header, false) {
        @include s((add)) {
          padding-bottom: 40px;
        }
      }

      @include e(nav-wrapper, false) {
        padding-left: 0;
      }

      @include e(nav-item, false) {
        margin-left: 0;
        margin-bottom: 2px;
        border-radius: 0 var(#{getComVarName('bd-round')}) var(#{getComVarName('bd-round')}) 0;

        @include s((active)) {
          border-bottom: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('bd-color')});
          border-left: none;
        }
      }

      @include e(new-btn, false) {
        width: 100%;
        bottom: 0;
        left: -1px;
        border-radius: 0 var(#{getComVarName('bd-round')}) var(#{getComVarName('bd-round')}) 0;
      }

    }

    //==============================================type card right end
  }

  //==============================================type card end

  //==============================================type border-card
  @include m(type, border-card) {
    background-color: var(#{getComVarName('bg-color')});
    border-radius: var(#{getComVarName('bd-round')});
    border: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('bd-color')});

    @include e(nav, false) {
      gap: 0;
    }

    @include e(header, false) {
      background-color: var(#{getComVarName('nav-bg-color')});
    }

    @include e(nav-item, false) {
      padding: 0 20px;
      border: var(#{getComVarName('bd-size')}) solid transparent;
      margin: 0 -1px 0;

      @include s((active)) {
        background-color:var(#{getComVarName('nav-active-bg-color')});
        border-top-color: var(#{getComVarName('bd-color')});
        border-right-color: var(#{getComVarName('bd-color')});
        border-left-color: var(#{getComVarName('bd-color')});
      }
    }

    //==============================================type border-card bottom
    @include m-conn(position, bottom) {
      @include e(nav-item, false) {

        @include s((active)) {
          border-bottom-color: var(#{getComVarName('bd-color')});
          border-top: none;
        }
      }
    }

    //==============================================type border-card bottom end

    //==============================================type border-card left
    @include m-conn(position, left) {
      @include e(nav-wrapper, false) {
        padding-right: 0;
      }

      @include e(nav-item, false) {
        margin-bottom: -1px;

        @include s((active)) {
          border-right: none;
          border-bottom: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('bd-color')});
        }
      }

    }

    //==============================================type border-card left end

    //==============================================type border-card right
    @include m-conn(position, right) {
      @include e(nav-wrapper, false) {
        padding-left: 0;
      }

      @include e(nav-item, false) {
        margin-bottom: -1px;

        @include s((active)) {
          border-left: none;
          border-bottom: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('bd-color')});
        }
      }

    }

    //==============================================type border-card right end
  }

  //==============================================type border-card end

  //============================================== bottom
  @include m(position, bottom) {
    @include e(header, false) {
      order: 2;
      border-bottom: none;
      border-top: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('bd-color')});
      margin: 15px 0 0;
    }

    @include e(nav-wrapper) {
      position: relative;
      margin-bottom: 0;
      margin-top: -1px;
    }

    @include e(content, false) {
      order: 1;
    }
  }

  //============================================== bottom end

  //============================================== left
  @include m(position, left) {
    flex-direction: row;

    @include e(header, false) {
      border-bottom: none;
      border-right: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('bd-color')});
      margin: 0;
    }

    @include e(nav-wrapper, false) {
      margin-bottom: 0;
      margin-right: -1px;
      padding-right: 8px;
    }

    @include e(nav, false) {
      display: flex;
      flex-direction: column;
    }

  }

  //============================================== left end

  //============================================== right
  @include m(position, right) {
    flex-direction: row;

    @include e(header, false) {
      order: 2;
      border-bottom: none;
      border-left: 1px solid var(#{getComVarName('bd-color')});
      margin: 0;
    }

    @include e(nav-wrapper, false) {
      margin-bottom: 0;
      margin-left: -1px;
      padding-left: 8px;
    }

    @include e(content, false) {
      order: 1;
    }

    @include e(nav, false) {
      display: flex;
      flex-direction: column;
    }
  }

  //============================================== right end


  @include e(header) {
    padding: 0;
    margin: 0 0 15px;
    border-bottom: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('bd-color')});
    position: relative;
  }

  @include e(new-btn) {
    box-sizing: border-box;
    z-index: 10;
    position: absolute;
    right: 0;
    border: var(#{getComVarName('bd-size')}) solid var(#{getComVarName('bd-color')});
    height: 38px;
    width: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 16px;
    border-radius: var(#{getComVarName('bd-round')}) var(#{getComVarName('bd-round')}) 0 0;
    cursor: pointer;
    color: var(#{getComVarName('new-btn-color')});
    background-color: var(#{getComVarName('new-btn-bg-color')});
    bottom: -1px;

    &:hover {
      color: var(#{getComVarName('hover-color')});
    }
  }

  @include e(nav-wrapper) {
    position: relative;
    margin-bottom: -1px;
  }

  @include e(nav) {
    white-space: nowrap;
    display: flex;
    gap: 20px;
  }

  @include e(nav-item) {
    display: inline-flex;
    align-items: center;
    box-sizing: border-box;
    font-size: var(#{getComVarName('font-size')});
    color: var(#{getComVarName('color')});
    height: var(#{getComVarName('size')});
    line-height: var(#{getComVarName('size')});
    cursor: pointer;
    //transition: all .3s;

    &:hover {
      #{getComVarName('color')}:var(#{getComVarName('hover-color')});
    }

    @include s((active)) {
      #{getComVarName('color')}:var(#{getComVarName('active-color')});
    }

    @include s((disabled)) {
      #{getComVarName('color')}:var(#{getComVarName('disabled-color')});
      cursor: not-allowed;
    }
  }

  @include e(close) {
    margin-left: 8px;
    color: var(#{getComVarName('disabled-color')});
  }

  @include e(active-bar) {
    position: absolute;
    z-index: 1;
    // 贝赛尔曲线 让动画更自然
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: var(#{getComVarName('active-bar-bg-color')});
  }

  @include e(content) {
    flex: 1;
    min-height: 0;
  }
}
