@use './common/namespace.scss' as *;
@use './componentVar/treeNodeVar.scss' as *;

@include b(tree-node) {
  @include setComVar(treeNodeVar());

  @include e(wrapper-content) {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(#{getComVarName('bg-color')});
    color: var(#{getComVarName('color')});

    &:hover {
      #{getComVarName('bg-color')}:var(#{getComVarName('hover-bg-color')});
    }
  }

  @include e-and((expand-icon, leaf-icon)) {
    display: inline-block;
    width: 16px;
    text-align: center;
    margin-right: 4px;
    font-weight: bold;
  }

  @include e(label) {
    font-size: 14px;
  }
}
