@use 'sass:map';
@use 'sass:color';

$mixin-types: text, primary, success, warning, error;
$themes: primary, success, warning, error;
$common-size: small, large;
$white: white;

$basic-colors: (
  'white':white,
  'black':black,
  'transparent':transparent) !default;

$theme-colors: (
  'primary':('base':#3069ff),
  'success':('base':#14cd70),
  'warning':('base':#ffa81a),
  'error':('base': #ff4a5b),
  'text':('base': #212226),
  ) !default;

@mixin set-level-color($type, $number, $mixColor , $mode: 'light') {
  $theme-colors: map.deep-merge((#{$type}:('#{$mode}-#{$number}': color.mix($mixColor, map.get($theme-colors, $type, 'base'), $number * 10%))), $theme-colors) !global
}

@each $type in $mixin-types {
  @for $i from 1 through 9 {
    @include set-level-color($type, $i, $white)
  }
}

$component-scale: (
  ) !default;
$component-scale: map.deep-merge(('default':1),
    $component-scale
);

$component-size: (
  ) !default;
$component-size: map.deep-merge(('small':24px,
      'default':32px,
      'large':40px), $component-size
);
$button-horizontal-padding: (
  ) !default;
$button-horizontal-padding: map.deep-merge(('small':10px,
      'default':16px,
      'large':24px), $button-horizontal-padding
);
$component-round: (
  ) !default;

$component-round: map.deep-merge(('small': 10px,
      'default':12px,
      'large':14px,
      'round':100px), $component-round
);

$font-size: (
  ) !default;
$font-size: map.deep-merge(('small':12px,
      'default':14px,
      'large': 16px), $font-size
);

$border-size: (
  ) !default;
$border-size: map.deep-merge(('small':1px,
      'default':2px,
      'large':3px), $border-size
);

$input-horizontal-padding: (
  ) !default;
$input-horizontal-padding: map.deep-merge(('default':10px), $input-horizontal-padding
);

$cursor: (
  ) !default;
$cursor: map.deep-merge(('text':text,
      'disabled':not-allowed,
      'pointer':pointer,
      'not-allowed':not-allowed), $cursor
);

$checkbox-size: (
  ) !default;

$checkbox-size: map.deep-merge(('small':15px,
      'default':20px,
      'large':25px), $checkbox-size
);
$checkbox-round: (
  ) !default;

$checkbox-round: map.deep-merge(('small':6px,
      'default':8px,
      'large':10px), $checkbox-round
);
$checkbox-indeterminate-size: (
  ) !default;
$checkbox-indeterminate-size: map.deep-merge(('small':7.5px,
      'default':10px,
      'large':12.5px), $checkbox-indeterminate-size
);
$checkbox-indeterminate-round: (
  ) !default;
$checkbox-indeterminate-round: map.deep-merge(('small':3px,
      'default':4px,
      'large':5px), $checkbox-indeterminate-round
);
$switch-size: (
  ) !default;
$switch-size: map.deep-merge(('small':24px,
      'default':28px,
      'large':32px), $switch-size
);
$switch-width: (
  ) !default;
$switch-width: map.deep-merge(('small':40px,
      'default':48px,
      'large':56px), $switch-width
);
$switch-padding: (
  ) !default;
$switch-padding: map.deep-merge(('default':4px,
    ), $switch-padding
);
$message-shadow-degree: (
  ) !default;
$message-shadow-degree: map.deep-merge(('default':10px,
    ), $message-shadow-degree
);
$message-padding-horizontal-left: (
  ) !default;
$message-padding-horizontal-left: map.deep-merge(('default':20px,
    ), $message-padding-horizontal-left
);
$message-padding-horizontal-right: (
  ) !default;
$message-padding-horizontal-right: map.deep-merge(('default':10px,
    ), $message-padding-horizontal-right
);


$global-var: (
  ) !default;

$global-var: map.deep-merge(('component-scale':$component-scale,
      'component-size':$component-size,
      'font-size':$font-size,
      'component-round':$component-round,
      'border-size':$border-size,
      'button-horizontal-padding':$button-horizontal-padding,
      'input-horizontal-padding':$input-horizontal-padding,
      'cursor':$cursor,
      'checkbox-size':$checkbox-size,
      'checkbox-round':$checkbox-round,
      "checkbox-indeterminate-size":$checkbox-indeterminate-size,
      "checkbox-indeterminate-round":$checkbox-indeterminate-round,
      "switch-size":$switch-size,
      "switch-width":$switch-width,
      "switch-padding":$switch-padding,
      'message-shadow-degree':$message-shadow-degree,
      'message-padding-horizontal-left':$message-padding-horizontal-left,
      'message-padding-horizontal-right':$message-padding-horizontal-right,
    ), $global-var
);
